body{
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}

.bubble{
    position: absolute;
    border-radius: 300px;
    background: yellowgreen;
    opacity: 0;
    animation: anim 8s forwards;
    /*forwards c'est pour éviter que l'animation se bloque en haut*/
    filter: hue-rotate(0deg);
    /*https://hue-rotate (pour changer la couleur, 0 correspond à la couleur de départ)*/
}

@keyframes anim{
    to{
        top: -250px;
        opacity: 1;
        left: var(--left);
        filter: hue-rotate(720deg);
    }
}

h3{  
font-size: 10rem;
    text-align: center;
    margin-top: 20px;
    color: rgba(128, 128, 128, 0.795);
}   